<!DOCTYPE html>
<html>
<head>
    <title>UMLTFIPGB - Population Prediction</title>
    <!-- Add Bootstrap CSS link -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
</head>
<body>
    <div class="container">
        <h1 class="mt-5">UMLTFIPGB - Population Prediction</h1>
        <form class="mt-3" method="POST" action="/population-predict">
            <div class="mb-3">
                <label for="start_year" class="form-label">Start Year:</label>
                <input type="text" class="form-control" name="start_year" required>
            </div>
            <div class="mb-3">
                <label for="end_year" class="form-label">End Year:</label>
                <input type="text" class="form-control" name="end_year" required>
            </div>
            <button type="submit" class="btn btn-success">Predict</button>
        </form>

        <h1 class="mt-5">Population Prediction Histogram</h1>
        <form class="mt-3" method="POST" action="/population-histogram">
            <div class="mb-3">
                <label for="start_year" class="form-label">Start Year:</label>
                <input type="text" class="form-control" name="start_year" required>
            </div>
            <div class="mb-3">
                <label for="end_year" class="form-label">End Year:</label>
                <input type="text" class="form-control" name="end_year" required>
            </div>
            <button type="submit" class="btn btn-success">Predict</button>
        </form>
 

        {% if results %}
            <h2 class="mt-4">Prediction Results</h2>
            <table class="table">
                <thead>
                    <tr>
                        <th>Year</th>
                        <th>Purok</th>
                        <th>Population</th>
                    </tr>
                </thead>
                <tbody>
                    {% for result in results %}
                    <tr>
                        <td>{{ result.Year }}</td>
                        <td colspan="2">
                            <table class="table table-bordered table-display">
                                {% for purok_result in result.PurokResults %}
                                <tr>
                                    <td>{{ purok_result.Purok.upper() }}</td>
                                    <td>{{ "{:,.2f}".format(purok_result.Population) }}</td>
                                </tr>
                                {% endfor %}
                            </table>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% endif %}
    </div>

    <!-- Add Bootstrap JS and Popper.js links (optional) -->
    
</body>
</html>
